*{
    margin: 0px;
}

body{
    height: 100vh;
    width: 100vw;
}

#box1 {
    display: flex;
    height: 88vh;
    width: 17vw;
    resize: horizontal;
    overflow: auto;
    justify-content: center;
    background-color: lightblue;
}

#box2 {
    display: flex;
    flex-grow: 3;
    height: 88vh;
    width: 83vw;
    overflow: auto;
    resize: horizontal;
    background-color: darkblue;
}

#main_body{
    display: flex;
}

#box3 {
    height: 9vh;
    width: 100vw;
    background-color: white;
}

#thsi {
    border: 5px solid green;
    border-radius: 1.5rem;
    height: 4vh;
    width: 8vw;
    align-items: center;
    display: flex;
    gap: 8%;
}

#thsi p {
    display: inline-block;
    font-weight: 700;
    font-size: 2.5vh;
    letter-spacing: 3px;
}

#thsi img {
    height: 4vh;
    width: 4vh;
}

#play {
    background-color: rgb(89, 245, 89);
    border: 1px solid white ;
    border-radius: 50%;
    width: 2vw;
    display: flex;
    height: 4vh;
    justify-content: center;
    align-items: center;
    margin-left: 50vw;
    margin-top: 3vh;
}


#play_image {
    width: 90%;
    height: 90%;
}

#play:hover {
    width: 2.5vw;height: 4.5vh;margin-top: 2.75vh;margin-left: 49.75vw;
}


